
[package]
name = "storage"
version = "0.0.1"
authors = []


[lib]
name="storage"
path="src/lib.rs"

#handle features

[dependencies]
rust-crypto = "*" #hash algorithm, crypto

#lz4 = "1.3.127" for lz4 compression optional
#rocksdb backend feature

linenoise-rust = "*" # for bin tools

[dependencies.msgpackio] # for filesystem backend
path = "../msgpackio/"

[dependencies.argparse] # for bin tools
git="https://github.com/tailhook/rust-argparse"


[[bin]]
name="fs_store_test"
path="bin/fs_store_test.rs"

[[bin]]
name="storage_console"
path="bin/storage_console.rs"
